$tablet: 750px;
$smartphone: 600px;
$primaryColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  color: $secondaryColor;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 20px;
      font-weight: 500;
      margin: 20px 0px;

      @include smartphone() {
        font-size: 18px;
      }
    }

    .see-more {
      text-decoration: underline;
      color: lightskyblue;
      cursor: pointer;
    }

    a {
      color: $secondaryColor;
    }
  }

  .preview {
    display: grid;
    grid-gap: auto;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    justify-items: center;

    @include tablet() {
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }
  }
}