.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  color: #ffffff;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 25px;
      font-weight: 500;
      margin: 20px 0px;
    }

    .see-more {
      text-decoration: underline;
      color: lightskyblue;
      cursor: pointer;
    }

    a {
      color: #ffffff;
    }
  }

  .preview {
    display: grid;
    grid-gap: auto;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    justify-items: center;
  }
}