.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  color: #ffffff;

  a {
    color: #ffffff;

    .title {
      cursor: pointer;
      font-size: 28px;
      margin-bottom: 25px;
    }
  }

  .preview {
    display: grid;
    grid-gap: auto;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    justify-items: center;
    // align-items: center;
  }
}