$tablet: 850px;
$smartphone: 500px;
$primaryColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

.shipping-form {
  margin-top: 70px;
  width: 50vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  text-align: left;
  background-color: $secondaryColor;
  // border-right: 2px solid $primaryColor;

  @include tablet() {
    width: 100%;
  }

  .head {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border: 1px solid $primaryColor;
    padding: 10px;
    margin-top: 15px;
  }

  .country-drop,
  .region-drop {
    border: none;
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid $primaryColor;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: grey;
  }

  .region-drop {
    margin-top: 20px;
  }

  .name-group {
    display: flex;
    align-self: center;
    justify-content: space-between;
    height: 100px;

    @include tablet() {
      display: block;
      height: auto;
    }
  }

  h4 {
    span {
      text-decoration: underline;
      color: #1b1b1b;
      cursor: pointer;
    }
  }
}