.collection-page {
    display: flex;
    flex-direction: column;
    margin-top: 80px;

    .title {
        font-size: 38px;
        margin: 0 auto 30px;
        color: #ffffff;
    }

    .items {
        display: grid;
        grid-gap: auto;
        grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
        justify-items: center;

        & .collection-item {
            margin-bottom: 30px;
        }
    }
}