$tablet: 850px;
$primaryColor: #000000;
$smartphone: 500px;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin smartphone {
    @media (max-width: #{$smartphone}) {
        @content;
    }
}

.cart-dropdown {
    position: absolute;
    width: 200px;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    top: 70px;
    right: 0px;
    z-index: -1;
    animation: animateCartslide .3s linear forwards;

    @include smartphone() {
        width: 70%;
    }


    .empty-message {
        font-size: 18px;
        margin: 50px auto;
    }

    .cart-items {
        height: 70vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        box-sizing: content-box;
        scrollbar-width: none;
        border-right: 2px solid #000000;
        padding-right: 1px;

        // margin-bottom: 10px; 
        @include tablet() {
            border: none;
        }
    }

    button {
        // width: 100%;
        text-align: center;
    }
}