.history-items {
  .head {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
    height: 50px !important;

    h5 {
      font-size: 15px;
    }
  }
}