$tablet: 850px;
$smartphone: 500px;
$primaryColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

.payment-page {
  width: 100%;
  display: flex;
  min-height: 100vh;
  background-color: $secondaryColor;
  color: $primaryColor;
  margin-top: 70px;
  padding-top: 40px;

  @include tablet() {
    flex-direction: column;
    padding-top: 0px;
  }

  .payment-page-header {
    margin-top: 30px;

    .order-id {
      padding: 40px;
      display: block;

      @include tablet() {
        padding: 0 40px;
      }

      .id {
        float: right;
      }
    }
  }

  .product-summary {
    width: 50vw;
    padding: 40px;
    padding-top: 0;

    @include tablet() {
      width: 100%;
      padding: 0px 40px;
      margin: 0px;
    }

    .subtotal,
    .shipping,
    .total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0px;
    }

    .shipping {
      border-bottom: 1px solid darkgrey;
      margin-bottom: 20px;
    }
  }
}