$tablet: 850px;
$smartphone: 500px;
$primaryColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #000000;
  padding: 20px 5%;
  padding-top: 12px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;

  img {
    height: 20px;

    @include smartphone() {
      height: 15px;
    }
  }

  .menu {
    width: 100px;
    display: inline-block;

    @include smartphone() {
      width: 40px;
    }

    .menu-btn {
      cursor: pointer;
    }
  }

  .options {
    height: 100%;
    width: 80px;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    .option {
      padding: 10px;
      cursor: pointer;
    }
  }
}