.cart-item {
    margin-bottom: 1px;
    display: inline-block;
    position: relative;
    background-size: cover;
    // overflow: hidden;

    .overlay {
        background: #00000096;
        height: 100%;
        color: #ffffff;
        display: flex;
        // flex-direction: column;
    }

    .item-details {
        width: 180px;
        height: 250px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 20px;

        span {
            font-size: 13px;
            text-transform: uppercase;
        }

        // .name {
        //     font-size: 16px;
        // }

        .clear {
            // width: 1px;
            display: block;
            position: absolute;
        }

        .quantity {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            display: flex;
            padding-left: 22px;

            .arrow {
                cursor: pointer;
                border: .5px solid #ffffff;
                padding: 0 8px 0 5px;
                font-weight: 900;
            }

            .value {
                margin: 0 15px;
            }
        }
    }
}