$smartphone-width: 600px;
$primaryColor: #000000;
$secondaryColor: #ffffff;


@mixin smartphone {
  @media (max-width: #{$smartphone-width}) {
    @content;
  }
}

.comment-box {
  max-width: 500px;
  color: $secondaryColor;

  .head {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border: 1px solid $secondaryColor;
    padding: 10px;
    margin-top: 15px;

    h5 {
      @include smartphone() {
        font-size: 14px;
      }
    }
  }

  .form-input {
    background: none;
    background-color: transparent;
    color: $secondaryColor;
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 100%;
    border: 1px solid $secondaryColor;
    margin: 25px 0;
  }

  textarea {
    background: none;
    background-color: transparent;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border: 1px solid $secondaryColor;
    margin: 25px 0;
    color: $secondaryColor;
    transition: all .5s;
  }
}